/*Main Menu Style*/

.menu-container {
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
}

.menu-button-on {
    font-size: 15px;
    flex-grow:1;
    height: 36px;
    opacity: 0.5;
}

.menu-button-off {
    font-size: 15px;
    flex-grow: 1;
    height: 36px;
    opacity: 1;
}

/*Asset Manager Style*/

.asset-manager-container {
}

/*Player Editor Style*/



/*Enemy Editor Style*/



/*Level Editor Style*/

